.DS_Store
codekit-config.json
resources/
application/cache/
application/config/development/
application/config/production/
application/config/testing/
application/logs/
user_guide/
html/index.php
html/media/BattlenetArmory/
html/media/images/
html/media/icons/
*.min.js