/***************************************
 * @author Ben Argo
 * @image headerBG.jpg: http://cdn2.guildlaunch.net/guild/forums/templates/r14/images/WOWPanda/headerBG.jpg
 * @image pageBG.jpg: http://cdn2.guildlaunch.net/guild/forums/templates/r14/images/WOWPanda/pageBG.jpg
 * @copyright 2013 Ben Argo
 ***************************************/
html {
  background: url("../images/headerBG.jpg") center top no-repeat fixed, url("../images/pageBG.jpg") center top repeat;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%; }
  @media (min-width: 1024px) {
    html {
      font-size: 16px; }
      html body {
        padding: 0 30px; } }
  @media (max-width: 1023px) {
    html {
      font-size: 12px; } }
  @media (max-width: 640px) {
    html {
      font-size: 10px; } }
  html .menu-bar {
    background: rgba(7, 22, 27, 0.5);
    border: solid 0px #000000; }
    @media (min-width: 1024px) {
      html .menu-bar {
        -webkit-border-radius: 0px 0px 5px 5px;
        border-radius: 0px 0px 5px 5px; } }
    @media (max-width: 640px) {
      html .menu-bar {
        display: none; } }
    html .menu-bar li {
      display: inline-block; }
      html .menu-bar li a {
        display: inline-block;
        color: #ffffff;
        padding: 15px;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
        html .menu-bar li a[rel="home"] {
          padding: 15px 15px 15px 41px;
          background: url("../images/home.svg") no-repeat;
          background-position: 15px center;
          background-size: 16px 16px; }
        html .menu-bar li a:hover {
          background-color: rgba(7, 22, 27, 0.7); }
      html .menu-bar li.login {
        float: right; }
  html header {
    margin: 20px 0; }
    html header a {
      display: block;
      color: #ffffff;
      vertical-align: middle; }
      html header a:hover {
        color: #ffffff; }
      html header a span {
        display: inline-block;
        vertical-align: middle; }
        html header a span.guild-name {
          padding: 10px;
          background-color: rgba(7, 22, 27, 0.5);
          -webkit-border-radius: 5px;
          border-radius: 5px;
          text-align: center; }
          html header a span.guild-name h1 {
            font-size: 3em; }
          html header a span.guild-name h2 {
            font-size: 1.2em; }
      html header a img {
        padding: 0 30px 0 0; }
        @media (max-width: 1023px) {
          html header a img {
            width: 100px; } }
  html h1, html h2, html h3, html h4, html h5, html h6, html p, html section, html code {
    margin-bottom: 5px;
    line-height: 1.3em; }
  html h1 {
    font-size: 1.6em;
    font-weight: bold; }
  html h2 {
    font-size: 1.4em; }
  html a {
    color: #00A2F1;
    text-decoration: none; }
    html a:hover {
      color: #fed000; }
