/* uGuilds.css */

/* 	CSS Reset
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */

@Font-face { 
	font-family: 'WebSymbolsLigaRegular';
		src: url ('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.eot');
		src: url ('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.eot? # iefix') format ('embedded-opentype'),
			 url ('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.woff') format ('woff'),
			 url ('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.ttf') format ('truetype'),
			 url ('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.svg # WebSymbolsRegular') format ('svg');
}

/* Class Colours */

.warrior {
	color: #C69B6D;
	border-color: #C69B6D;
}

.paladin {
	color: #F48CBA;
	border-color: #F48CBA;
}

.hunter {
	color: #AAD372;
	border-color: #AAD372;
}

.rogue {
	color: #FFF468;
	border-color: #FFF468;
}

.priest {
	color: #F0EBE0;
	border-color: #F0EBE0;
}

.death-knight {
	color: #C41E3B;
	border-color: #C41E3B;
}

.shaman {
	color: #2359FF;
	border-color: #2359FF;
}

.mage {
	color: #68CCEF;
	border-color: #68CCEF;
}

.warlock {
	color: #9382C9;
	border-color: #F48CBA;
}

.druid {
	color: #FF7C0A;
	border-color: #FF7C0A;
}

.monk {
	color: #00FFBA;
	border-color: #00FFBA;
}