/* uGuilds.css */

/* Fonts */

@font-face { 
	font-family: 'WebSymbolsLigaRegular';
		src: url ('/media/fonts/WebSymbolsLiga-Regular/websymbolsligaregular.eot');
		src: url ('/media/fonts/WebSymbolsLiga-Regular/websymbolsligaregular.eot?#iefix') format ('embedded-opentype'),
			 url ('/media/fonts/WebSymbolsLiga-Regular/websymbolsligaregular.woff') format ('woff'),
			 url ('/media/fonts/WebSymbolsLiga-Regular/websymbolsligaregular.ttf') format ('truetype'),
			 url ('/media/fonts/WebSymbolsLiga-Regular/websymbolsligaregular.svg#WebSymbolsRegular') format ('svg');
}

// http://www.dafont.com/arabolical.font
@font-face {
    font-family: 'arabolical1';
    src: url('/media/fonts/arabolical/arabolical-webfont.eot');
    src: url('/media/fonts/arabolical/arabolical-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/arabolical/arabolical-webfont.woff') format('woff'),
         url('/media/fonts/arabolical/arabolical-webfont.ttf') format('truetype'),
         url('/media/fonts/arabolical/arabolical-webfont.svg#arabolical1') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* uGuilds Font */
.uguilds {
	font-family: 'arabolical', 'arabolical1', sans-serif;
}

/* Class Colours */

.class.warrior {
	color: #C69B6D;
	border-color: #C69B6D;
}

.class.paladin {
	color: #F48CBA;
	border-color: #F48CBA;
}

.class.hunter {
	color: #AAD372;
	border-color: #AAD372;
}

.class.rogue {
	color: #FFF468;
	border-color: #FFF468;
}

.class.priest {
	color: #F0EBE0;
	border-color: #F0EBE0;
}

.class.death-knight {
	color: #C41E3B;
	border-color: #C41E3B;
}

.class.shaman {
	color: #2359FF;
	border-color: #2359FF;
}

.class.mage {
	color: #68CCEF;
	border-color: #68CCEF;
}

.class.warlock {
	color: #9382C9;
	border-color: #F48CBA;
}

.class.druid {
	color: #FF7C0A;
	border-color: #FF7C0A;
}

.class.monk {
	color: #00FFBA;
	border-color: #00FFBA;
}

.logo {
	font-family: 'arabolical', 'arabolical1', 'arabolical-webfont', sans-serif;
}
