/* uGuilds.css */

/* Fonts */

@Font-face { 
	font-family: 'WebSymbolsLigaRegular';
		src: url ('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.eot');
		src: url ('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.eot? # iefix') format ('embedded-opentype'),
			 url ('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.woff') format ('woff'),
			 url ('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.ttf') format ('truetype'),
			 url ('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.svg # WebSymbolsRegular') format ('svg');
}

// http://www.dafont.com/arabolical.font
@font-face {
    font-family: 'arabolical';
    src: url('../fonts/arabolical/arabolical-webfont.eot');
    src: url('../fonts/arabolical/arabolical-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arabolical/arabolical-webfont.woff') format('woff'),
         url('../fonts/arabolical/arabolical-webfont.ttf') format('truetype'),
         url('../fonts/arabolical/arabolical-webfont.svg#arabolical1') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Class Colours */

.warrior {
	color: #C69B6D;
	border-color: #C69B6D;
}

.paladin {
	color: #F48CBA;
	border-color: #F48CBA;
}

.hunter {
	color: #AAD372;
	border-color: #AAD372;
}

.rogue {
	color: #FFF468;
	border-color: #FFF468;
}

.priest {
	color: #F0EBE0;
	border-color: #F0EBE0;
}

.death-knight {
	color: #C41E3B;
	border-color: #C41E3B;
}

.shaman {
	color: #2359FF;
	border-color: #2359FF;
}

.mage {
	color: #68CCEF;
	border-color: #68CCEF;
}

.warlock {
	color: #9382C9;
	border-color: #F48CBA;
}

.druid {
	color: #FF7C0A;
	border-color: #FF7C0A;
}

.monk {
	color: #00FFBA;
	border-color: #00FFBA;
}


