.my-account a.button.manage, .my-characters a.character
{
	display: inline-block;
	
	margin-right: 10px;
	padding: 5px 5px 5px 5px;

	
	background: rgba(137, 159, 166, 0.25);
	border: solid 1px rgba(137, 159, 166, 0.25);
	border-radius: 5px;
	-webkit-border-radius: 5px;

	-moz-box-shadow: 0px 2px 4px 0px rgba(137, 159, 166, 0.7), 0px 1px 0px 0px rgba(137, 159, 166, 0.7);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(81, 42, 24, 0.5), 0px 1px 0px 0px rgba(81, 42, 24, 0.5);
	-o-box-shadow: 0px 1px 2px 0px rgba(81, 42, 24, 0.5), 0px 1px 0px 0px rgba(81, 42, 24, 0.5);
	box-shadow:  0px 2px 4px 0px rgba(137, 159, 166, 0.2), 0px 1px 0px 0px rgba(137, 159, 166, 0.2);

	color: #fff;
	text-align: center;

	-webkit-transition: background 500ms linear;
	-moz-transition: background 100ms linear;
	-ms-transition: background 500ms linear;
	-o-transition: background 500ms linear;
	transition: background 100ms linear;

	&:hover 
	{
		background: rgba(137, 159, 166, 0.35);
	}

	&.primary 
	{
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(7, 22, 27, 0.3)), color-stop(100%, rgba(7, 22, 27, 0.7)));
		background: -webkit-linear-gradient(rgba(7, 22, 27, 0.3) 0%, rgba(7, 22, 27, 0.7) 100%);
		background: -moz-linear-gradient(rgba(7, 22, 27, 0.7) 0%, rgba(7, 22, 27, 0.9) 100%);
		background: -o-linear-gradient(rgba(7, 22, 27, 0.3) 0%, rgba(7, 22, 27, 0.7) 100%);
		background: -ms-linear-gradient(rgba(7, 22, 27, 0.3) 0%, rgba(7, 22, 27, 0.7) 100%);
		background: linear-gradient(rgba(7, 22, 27, 0.3) 0%, rgba(7, 22, 27, 0.7) 100%);

		border-color: rgba(7, 22, 27, 0.7);

		-moz-box-shadow: inset 0px 1px 2px 0px rgba(7, 22, 27, 0.7), 0px 1px 0px 0px rgba(7, 22, 27, 0.5);
		-webkit-box-shadow: inset 0px 1px 2px 0px rgba(7, 22, 27, 0.7), 0px 1px 0px 0px rgba(7, 22, 27, 0.5);
		-o-box-shadow: inset 0px 1px 2px 0px rgba(7, 22, 27, 0.7), 0px 1px 0px 0px rgba(7, 22, 27, 0.5);
		box-shadow: inset 0px 1px 2px 0px rgba(7, 22, 27, 0.7), 0px 1px 0px 0px rgba(7, 22, 27, 0.5);

		cursor: default;
	}

	&.character {

		height: 145px;
		vertical-align: top;

		&#add-new 
		{
			span.plus
			{
				line-height: 84px;
				font-weight: 100;
				font-size: 5em;
			}
		}
	}
}
