/**
 * uGuilds Default Theme
 * Copyright 2013, Ben Argo
 *
 ** Sources:
 * Image: headerBG.jpg: http://cdn2.guildlaunch.net/guild/forums/templates/r14/images/WOWPanda/headerBG.jpg
 * Image: pageBG.jpg: http://cdn2.guildlaunch.net/guild/forums/templates/r14/images/WOWPanda/pageBG.jpg
 *
 ** Table of Contents
 * CSS Reset
 * Skeleton
 */

 /**
  * Notes
  *
  * For all mobile devices, use:
  *		@media only screen and (max-width: 767px) { }
  */

/**
 * CSS Reset
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Skeleton V1.3
 * Copyright 2011, Dave Gamache
 * Copyright 2013, Ben Argo
 * http://www.getskeleton.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 6/20/2012
 *
 ** Table of Contents
 * Base 960 Grid
 * Tablet (Portrait)
 * Mobile (Portrait)
 * Mobile (Landscape)
 * Clearing */

/* Skeleton: Base 960 Grid
================================================== */

.container { 
	position: relative; width: 960px; margin: 0 auto; padding: 0; 

	.column,
	.columns {
		float: left; 
		display: inline; 
		margin-left: 10px; 
		margin-right: 10px; 

		/* Nested Column Classes */
		.alpha { margin-left: 0;  }
		.omega { margin-right: 0; }
	}

	.row { 
		margin-bottom: 20px; 
	}

	/* Base Grid */
  	.one.column,
    .one.columns                     { width: 40px;  }
    .two.columns                     { width: 100px; }
    .three.columns                   { width: 160px; }
    .four.columns                    { width: 220px; }
    .five.columns                    { width: 280px; }
    .six.columns                     { width: 340px; }
    .seven.columns                   { width: 400px; }
    .eight.columns                   { width: 460px; }
    .nine.columns                    { width: 520px; }
    .ten.columns                     { width: 580px; }
    .eleven.columns                  { width: 640px; }
    .twelve.columns                  { width: 700px; }
    .thirteen.columns                { width: 760px; }
    .fourteen.columns                { width: 820px; }
    .fifteen.columns                 { width: 880px; }
    .sixteen.columns                 { width: 940px; }

    .one-third.column                { width: 300px; }
	.two-thirds.column               { width: 620px; }

	/* Offsets */
	.offset-by-one                   { padding-left: 60px;  }
    .offset-by-two                   { padding-left: 120px; }
    .offset-by-three                 { padding-left: 180px; }
    .offset-by-four                  { padding-left: 240px; }
   	.offset-by-five                  { padding-left: 300px; }
    .offset-by-six                   { padding-left: 360px; }
    .offset-by-seven                 { padding-left: 420px; }
    .offset-by-eight                 { padding-left: 480px; }
	.offset-by-nine                  { padding-left: 540px; }
    .offset-by-ten                   { padding-left: 600px; }
   	.offset-by-eleven                { padding-left: 660px; }
   	.offset-by-twelve                { padding-left: 720px; }
    .offset-by-thirteen              { padding-left: 780px; }
    .offset-by-fourteen              { padding-left: 840px; }
    .offset-by-fifteen               { padding-left: 900px; }
}

/* Skeleton: Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container { 
    	width: 768px; 

    	.column,
        .columns { 
        	margin-left: 10px; 
        	margin-right: 10px;

        	.alpha 		 { margin-left: 0; margin-right: 10px; }
        	.omega 		 { margin-right: 0; margin-left: 10px; }
        	.alpha.omega { margin-left: 0; margin-right: 0; }
        }

        .one.column,
       	.one.columns 		{ width: 28px; }
		.two.columns        { width: 76px; }
        .three.columns      { width: 124px; }
        .four.columns       { width: 172px; }
        .five.columns       { width: 220px; }
        .six.columns        { width: 268px; }
        .seven.columns      { width: 316px; }
        .eight.columns      { width: 364px; }
        .nine.columns       { width: 412px; }
        .ten.columns        { width: 460px; }
        .eleven.columns     { width: 508px; }
        .twelve.columns     { width: 556px; }
        .thirteen.columns   { width: 604px; }
        .fourteen.columns   { width: 652px; }
        .fifteen.columns    { width: 700px; }
        .sixteen.columns    { width: 748px; }

        .one-third.column   { width: 236px; }
        .two-thirds.column  { width: 492px; }

        /* Offsets */
        .offset-by-one      { padding-left: 48px; }
        .offset-by-two      { padding-left: 96px; }
        .offset-by-three    { padding-left: 144px; }
        .offset-by-four     { padding-left: 192px; }
        .offset-by-five     { padding-left: 240px; }
        .offset-by-six      { padding-left: 288px; }
        .offset-by-seven    { padding-left: 336px; }
        .offset-by-eight    { padding-left: 384px; }
        .offset-by-nine     { padding-left: 432px; }
        .offset-by-ten      { padding-left: 480px; }
        .offset-by-eleven   { padding-left: 528px; }
        .offset-by-twelve   { padding-left: 576px; }
        .offset-by-thirteen { padding-left: 624px; }
        .offset-by-fourteen { padding-left: 672px; }
        .offset-by-fifteen  { padding-left: 720px; }
    }
}


/* Skeleton: Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .container { 
    	width: 300px; 

    	.columns,
    	.column { margin: 0; }

    	.one.column,
	    .one.columns,
	    .two.columns,
	    .three.columns,
	    .four.columns,
	    .five.columns,
	   	.six.columns,
	    .seven.columns,
	    .eight.columns,
	    .nine.columns,
	    .ten.columns,
	    .eleven.columns,
	    .twelve.columns,
	    .thirteen.columns,
	    .fourteen.columns,
	    .fifteen.columns,
	    .sixteen.columns,
	    .one-third.column,
	    .two-thirds.column  { width: 300px; }

	    /* Offsets */
    	.offset-by-one,
	    .offset-by-two,
	    .offset-by-three,
	    .offset-by-four,
	    .offset-by-five,
	    .offset-by-six,
	    .offset-by-seven,
	    .offset-by-eight,
	    .offset-by-nine,
	    .offset-by-ten,
	    .offset-by-eleven,
	    .offset-by-twelve,
	    .offset-by-thirteen,
	    .offset-by-fourteen,
	    .offset-by-fifteen { padding-left: 0; }
    }
}


/* Skeleton: Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container { 
    	width: 420px; 
		
		.columns,
    	.column { margin: 0; }

    	.one.column,
	    .one.columns,
	    .two.columns,
	    .three.columns,
	    .four.columns,
	    .five.columns,
	    .six.columns,
	    .seven.columns,
	    .eight.columns,
	    .nine.columns,
	    .ten.columns,
	    .eleven.columns,
	    .twelve.columns,
	    .thirteen.columns,
	    .fourteen.columns,
	    .fifteen.columns,
	    .sixteen.columns,
	    .one-third.column,
	    .two-thirds.column { width: 400px; margin: 0 10px; }
    }
}

/* Skeleton: Clearing
================================================== */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/**
 * General Rules
 */
.text-align {
	&.left {
		text-align: left;
	}

	&.center {
		text-align: center;
	}

	&.right {
		text-align: right;
	}
}

/**
 * Theme Rules
 * 
 ** Table of Contents
 * Variables
 * Forms
 * Styles
 */

/* Theme: Variables 
================================================== */

$background-color: rgba(7, 22, 27, 0.7);
$link-color: #00A2F1;
$link-active-color: #fed000;

/* Theme: Forms 
================================================== */

.validation_errors p {
	background-color: #FF8000;
	padding: 5px;
	border: solid 0px #FF8000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

body.Roster.Table form
{
	span.field {
		margin: 0 5px;
		display: inline-block;
		vertical-align: top;

		input[name="minLevel"], input[name="maxLevel"] {
			display: inline-block;
			width: 20px;
		}

		input[type="text"], input[type="number"] {
			border-radius: 3px;
			-webkit-border-radius: 3px;
		}
	}

	input[type="reset"], input[type="submit"] {
		margin: 21px 0 0;
	}
}

body.Account form {

	label {
		display: block;
		width: 100%;

		&.required:after {
			content: " ★";
			color: #FFA400;
		}
	}

	select, input, textarea, button { font-size: 1.1em; }

	textarea {
		line-height: 1.4em;
	}
 
	input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="date"], input.ui-comboxbox-input, textarea {
		display: block;
		border: 1px solid #b1b4a9;
		padding: 6px;
		width: 928px;
	}

	select {
		margin: 0px;
		display: block;
		border: 1px solid #b1b4a9;
		padding: 6px;
		width: 928px;
	}

	select[size], textarea, input[type="radio"], input[type="checkbox"] { vertical-align: middle; }
	 
	label, input[type=button], input[type=submit], button, { cursor: pointer; }
}

/* Theme: Styles
================================================== */

body {
	background: url('../images/headerBG.jpg') center top no-repeat fixed, url('../images/pageBG.jpg') center top repeat fixed;
   	color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
   	font-size: 12pt;

	// Reduce font size for smaller devices
	@media only screen and (max-width: 767px) {
		font-size: 10pt;
	}

	.is-sticky .menu-bar {

		ul {
			margin: 0 0 20px;
		}
	}

	#undefined-sticky-wrapper {
		width: inherit;
	}

	.menu-bar {
		
		width: inherit;
		height: 46px;
		margin: 0;
    	background: $background-color;
    	border: solid 0px transparent;
		-webkit-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;

		@media only screen and (max-width: 767px) {
			height: 36px;
			padding: 5px 0;
		}

	    ul {

	        li {
	        	display: inline-block;

	        	a {
					display: inline-block;
					color: #ffffff;
					padding: 15px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
					border: none;

					&[rel="home"] {
						padding: 15px 15px 15px 41px;
						background: url('../images/home.svg') no-repeat;
						background-position: 15px center;
						background-size: 16px 16px;
					}

					&:hover {
						background-color: rgba(7, 22, 27, 0.7);
					}
				}

			}

			.align.right {
				float: right;
			}

			@media only screen and (max-width: 767px) {
				display: none;
			}
		}

		form {
			display: none;

			@media only screen and (max-width: 767px) {
				display: block;

				select {
					display: inline-block;
					width: 400px;
					height: 36px;
					margin: 0 10px;
					font-size: 1.6em;
				}

				input[type="submit"] {
					display: none;
				}
			}
		}
	}

	header {
		margin: 10px 0;

		a {
			color: #ffffff;
			vertical-align: middle;
			border: solid 1px transparent;

			&:hover {
				color: #ffffff;
				border-color: transparent;
			}

			&:active {
				border: dotted 1px #00A2F1;
			}

			span {
				display: inline-block;
				vertical-align: middle;
				text-align: center;

				@media only screen and (max-width: 767px) {
					display: block;
				}

				&.guild-name {
					padding: 10px;
					background-color: $background-color;
					-webkit-border-radius: 5px;
					border-radius: 5px;

					@media only screen and (max-width: 767px) {
						display: block;
					}

					h1 {
						font-size: 3em;
					}

					h2 {
						font-size: 1.2em;
					}
				}

				img {
					display: inline;
					padding: 0 30px 0 0;

					@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
						width: 150px;
					}

					@media only screen and (max-width: 767px) {
						width: 100px;
						padding: 0;
					}  
				}
			}
		}
	}

	article {
		clear: both;
		float: left;
		width: inherit;
		padding: 10px 0;
		background: $background-color;
		-webkit-border-radius: 5px;
	    border-radius: 5px;

	    & > * {
	    	margin: 0 10px;
	    }

	    @media only screen and (max-width: 767px) {
    		
    		h1 {
    			font-size: 1.2em;
    		}
	    }

	    tbody {

	    	tr:nth-child(even) {
	    		background-color: rgba(7, 22, 27, 0.3);
	    	}
	    }

	    nav.breadcrumbs
	    {
	    	margin-bottom: 10px;

	     	li {
		    	display: inline;

		    	&:before {
		    		content: '\00BB\0020';
		    	}

		    	&:first-child:before {
		    		content: '';
		    	}

		    	a {
		    		//border-bottom: dotted 1px $link-color;
					border-top: none;
					border-left: none;
					border-right: none;
		    	}
		    }
	    }
	}

	footer {
		clear: both;
		float: left;
		width: inherit;
		margin: 10px 0;
		padding: 10px 0;
		background: $background-color;
		-webkit-border-radius: 5px;
	    border-radius: 5px;

	    #footer-mobile {
	    	display: none;
	    }

	    @media only screen and (max-width: 767px) { 
	    	#footer-full {
	    		display: none;
	    	}

	    	#footer-mobile {
	    		width: inherit;
	    		display: block;
	    	}
	    }

	    nav, p {
	    	margin: 0 0 10px;
	    	text-align: center;

	    	@media (min-width: 641px), (-webkit-max-device-pixel-ratio: 1), (max-resolution: 96dpi) {
	    		font-size: 0.6em;

				li {
		    		display: inline;
		    	}

		    	&.links {
					li:before {
		    			content: "// ";
		    		}

		    		li:first-child:before {
		    			content: none;
		    		}
		    	}
	    	}

	    	@media (max-width: 640px), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		    	font-size: 0.7em;
		    	text-align: center;
		    }
	    	
	    	.logo {
				
	    		font-size: 2.5em;
	    		line-height: 1.2em;
	    	}

	    	&:last-child {
	    		margin-bottom: 0;
	    	}
	    }
	}

	h1,h2,h3,h4,h5,h6,p,section,code {
		margin-bottom: 5px;
		line-height: 1.3em;
	}

	h1 {
		font-size: 1.6em;
		font-weight: bold;
	}

	h2 {
		font-size: 1.4em;
	}

	h2, h3, h4, h5, h6 {
		strong {
			font-weight: bold;
		}
	}

	a {
		display: inline-block;
		margin: -1px;
		color: #00A2F1;
		text-decoration: none;
		border: dotted 1px transparent;
		border-bottom-color: #00A2F1;

		&! > img {
			border: none;
		}

		&:active {
			border-color: #00A2F1;
			text-decoration: none;
		}

		&:active:hover {
			border-color: $link-active-color;
		}

		&:hover {
			color: $link-active-color;
			border-bottom-color: $link-active-color;
			border-bottom-style: solid;
		}
	}

	table thead th, table tbody td {
		text-align: center;
	}
}

/* Theme: No JS
================================================== */

.nojs {
	.menu-bar form {

		select {
			width: 339px;
		}

		input[type="submit"] {
			display: block;
			float: right;
			margin: 2px 10px 2px 0;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			font-size: 1.6em;
		}
	}
}

/* Theme: Wowhead
================================================== */

a.wh:not([href]) {
	color: #ffffff;
	border: none;
}

/* Theme: Guild Roster
================================================== */

span.field {

	& > * {
		display: block;
		width: inherit;
	}

	input[name$="Level"] {
		
	}
}


.guild-roster {
	width: 100%;

	th {
		padding: 5px 0;
		width: 8.5%;
		vertical-align: middle;
		text-align: center;
		font-weight: bold;

		&.sortable {
			cursor: pointer;
		}
	}
	 
	td {
		vertical-align: middle;
		padding: 2px 0;
		width: 8.5%;
		height: 28px;
		text-align: center;

		&.character-name a {
			border-left-color: transparent;
			border-top-color: transparent;
			border-right-color: transparent;
		}

		&.race a, &.class a {
			display: inline-block;
			background-color: $background-color;
			vertical-align: middle;
			height: 18px;
			padding: 5px;
			border: none;
			-webkit-border-radius: 3px;
	    	border-radius: 3px;
	    	
	    	&:hover {
	    		background-color: $link-active-color;
	    	}

	    	@media only screen and (max-width: 767px) {
	    		.spec, .achievements > img {
	    			display: none;
	    		}
	    	}
		}
	}
}

/* Theme: Guild Roster -> Characters
================================================== */

body article div.roster.character {

	&.alliance {
		min-height: 218px;

		background: url(../images/sidebar-bg-alliance.png) no-repeat;
		background-position: top 0px right 0px;
	}

	&.horde {
		min-height: 218px;

		background: url(../images/sidebar-bg-horde.png) no-repeat;
		background-position: top 0px right 0px;
	}

	h2 {
		font-size: 1.2em;
	}

	#character-inset {
		float: right;
		border: none;

		img {
			border: solid 1px rgba(9, 4, 1, 0.6);
			border-radius: 5px;
			-webkit-border-radius: 5px;
			display: inline;

			&:hover {
				border-color: $link-active-color;
			}
		}
	}

		h3 {
		font-size: 1.2em;
		font-weight: bold;
	}

	#specs {
		clear: both;
	}

	#talents,
	#glyphs,
	#professions {
		display: block; 

		.specs {

			margin: 5px 0 10px;

			.spec {
				display: inline-block;
				
				height: 32px;
				margin-right: 10px;
				padding: 5px 10px 5px 5px;

				background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(7, 22, 27, 0.3)), color-stop(100%, rgba(7, 22, 27, 0.7)));
				background: -webkit-linear-gradient(rgba(7, 22, 27, 0.3) 0%, rgba(7, 22, 27, 0.7) 100%);
				background: -moz-linear-gradient(rgba(7, 22, 27, 0.7) 0%, rgba(7, 22, 27, 0.9) 100%);
				background: -o-linear-gradient(rgba(7, 22, 27, 0.3) 0%, rgba(7, 22, 27, 0.7) 100%);
				background: -ms-linear-gradient(rgba(7, 22, 27, 0.3) 0%, rgba(7, 22, 27, 0.7) 100%);
				background: linear-gradient(rgba(7, 22, 27, 0.3) 0%, rgba(7, 22, 27, 0.7) 100%);

				&.active {
					-moz-box-shadow: inset 0px 1px 2px 0px rgba(7, 22, 27, 0.7), 0px 1px 0px 0px rgba(7, 22, 27, 0.5);
					-webkit-box-shadow: inset 0px 1px 2px 0px rgba(7, 22, 27, 0.7), 0px 1px 0px 0px rgba(7, 22, 27, 0.5);
					-o-box-shadow: inset 0px 1px 2px 0px rgba(7, 22, 27, 0.7), 0px 1px 0px 0px rgba(7, 22, 27, 0.5);
					box-shadow: inset 0px 1px 2px 0px rgba(7, 22, 27, 0.7), 0px 1px 0px 0px rgba(7, 22, 27, 0.5);

					color: #fff;
					cursor: default;
				}

				&.passive {
					background: rgba(137, 159, 166, 0.25);
					border-color: rgba(137, 159, 166, 0.25);

					-moz-box-shadow: 0px 2px 4px 0px rgba(137, 159, 166, 0.7), 0px 1px 0px 0px rgba(137, 159, 166, 0.7);
					-webkit-box-shadow: 0px 1px 2px 0px rgba(81, 42, 24, 0.5), 0px 1px 0px 0px rgba(81, 42, 24, 0.5);
					-o-box-shadow: 0px 1px 2px 0px rgba(81, 42, 24, 0.5), 0px 1px 0px 0px rgba(81, 42, 24, 0.5);
					box-shadow:  0px 2px 4px 0px rgba(137, 159, 166, 0.2), 0px 1px 0px 0px rgba(137, 159, 166, 0.2);

					color: #fff;

					-webkit-transition: background 500ms linear;
					-moz-transition: background 100ms linear;
					-ms-transition: background 500ms linear;
					-o-transition: background 500ms linear;
					transition: background 100ms linear;

					&:hover {
						background: rgba(137, 159, 166, 0.35);
					}
			
				}
				
				border: solid 1px rgba(7, 22, 27, 0.7);
				border-radius: 5px;
				-webkit-border-radius: 5px;

				p {
					img {
						vertical-align: middle;
						margin-right: 5px;
						border: solid 0px transparent;
						border-radius: 3px;
						-webkit-border-radius: 3px;
					}

					height: 32px;
					margin: 0;
					line-height: 32px;
				}
			}
		}
	}

	#talents {
		float: left; 
		min-width: 300px;
		margin: 10px 10px 10px 0;

		li {
			margin-top: 5px;

			img {
				vertical-align: middle;
				border: solid 0px transparent;
				border-radius: 3px;
				-webkit-border-radius: 3px;
			}
		}

		p.talent-calc {
			margin: 10px 0;
		}
	}

	#glyphs {
		float: left; 
		min-width: 300px;
		margin: 10px 10px 10px 0;

		p {
			font-weight: bold;
			margin: 10px 0;
		}

		li {
			margin-top: 5px;

			img {
				vertical-align: middle;
				border: solid 0px transparent;
				border-radius: 3px;
				-webkit-border-radius: 3px;
			}
		}
	}

	#professions {
		overflow: hidden; 
		margin: 10px 0;

		li:first-child
		{
			width: 100%;
		}

		li:nth-child(3)
		{
			margin-top: 20px;
		}
	}
}

