# .htaccess file

Options -Indexes  

RewriteEngine On
RewriteBase /

# Rewrite Domain Name If No Guild Selected
RewriteCond %{HTTP_HOST} .
RewriteCond %{HTTP_HOST} ^app\.uguilds\.net$ [NC]
RewriteRule (.*) http://www.uguilds.com/ [R=301,L]

# Rewrite Everything Else
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.+) index.php [QSA,L]