/* Roster.css */


.guild-roster {
	width: 100%;

	th {
		padding: 5px 0;
		width: 8.5%;
		vertical-align: middle;
		text-align: center;
		font-weight: bold;

		&.sortable {
			cursor: pointer;
		}
	}
	 
	td {
		vertical-align: middle;
		padding: 2px 0;
		width: 8.5%;
		height: 28px;
		text-align: center;

		&.race a, &.class a {
			display: inline-block;
			vertical-align: middle;
			height: 18px;
			padding: 5px;
			border: none;

			img {
			}
		}
	}
}